.text-center {
 text-align:center;
 width: 300px;
 height: 300px;
 margin: 0;

}


.jumbotron {
  background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');
  height: 1000px  
  
 
}